.has-success-input{
    border: 2px solid green;
}

.has-error-input{
    border: 2px solid red;
}

.img-preview{
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-top: 15px;
}

.custom-icon{
    font-size: 30px;
}

.social_media_icon{
    width: 30px !important;
    height: 30px !important;
}
